{% extends "base.html" %}
{% block title %}Bradweb{% endblock %}
{% block content %}
<h1 align="center">Welcome</h1>
<h4 align="center">&#x1f6a7 This site is currently under construction &#x1f6a7</h4>

<section>
    <h2 align="center">Some projects of mine include:</h2>
    <div class="media">
        <div class="showcase">
            <figure>
                <img src="/static/img/image_cubehelix.png" alt="Mandelbrot Set" style="width:100%; height:auto">
                <figcaption style="text-align:center; font-family:Fira Code; font-size:0.8em">A Mandelbrot set generated and visualized with Python</figcaption>
            </figure>
        </div>
        <div class="showcase">
            <figure>
                <img src="/static/img/strava_vis_8141132427.gif" alt="Strava Ride" style="width:100%; height:auto">
                <figcaption style="text-align:center; font-family:Fira Code; font-size:0.8em">A Strava ride plotted in 3D and animated</figcaption>    
            </figure>
        </div>
    </div>
</section>
<div style="clear"></div>
<section>
<p align="center">More content</p>
</section>
{% endblock %}
